<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

  <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix" value="/WEB-INF/jsp/html/" />
    <property name="suffix" value=".jsp" />
  </bean>


  <jaxws:client id="personaService" 
          serviceName="PersonaServiceImpl"
          serviceClass="pe.edu.upc.dsd.service.ws.PersonaService"
          address="http://localhost:8080/ws-reniec/PersonaService"/>
          
 <bean id="service" class="pe.edu.upc.dsd.service.impl.ServiceImpl" >
    <property name="personaService" ref="personaService" />
   
  </bean>
  

</beans>